<div class="<%= section_class || 'section-light-gray' %>">
  <div class="container">
    <div class="row double-spacing">
      <div class="col-md-12">
        <h1 class="text-center title">
          Try Dexcode
        </h1>
      </div>
      <div class="col-md-12 spacing-bottom">
        <div class="line-orange"></div>
      </div>
      <div class=" col-md-12 col-xs-12 spacing-bottom centered">
        <p class="subtitle">Share with us a specific requirement such as a module or function point that needs further development. You’ll then be able to try our services risk-free for two week to learn about our working methods, development efficiency, and other capabilities—all before signing a final contract.
        </p>
      </div>
      <div class=" col-md-12 col-xs-12 centered">
        <a href="<%= contact_us_path %>">
          <div class="btn btn-title">
            START YOUR TRIAL NOW
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
