<% content_for :page_title do 'About - Dexcode' end %>
<% content_for :page_meta do %>
<meta content="Founded in 2012, Dexcode Indotama is a growing company
  focusing on software development for web and mobile platform.
  Its mission is to help businesses reach their customers more
  effectively and efficiently." name="description"/>
<% end %>

<div class="hero">
  <div class="container vertical-center">
    <div class="row spacing-top">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">

        <h1 class="white">
          About
        </h1>
        <p class="white">
          Founded in 2012, Dexcode Indotama is a growing company focusing on software development for web and mobile platform. Its mission is to help businesses reach their customers more effectively and efficiently.
        </p>

      </div>
    </div>
  </div>
</div>

<div class="section-light-gray">
  <div class="container">
    <div class="row spacing-top">
      <div class="col-md-6">
        <h2>Our Development Process</h2>
        <p class="subtitle">
          We use agile methodology to develop our software which means that our customer gets feedback early and often in the development process. This ensures the project to stays on track and it keeps our customer satisfied throughout the various stage of
          software development.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="section-light-gray">
  <div class="container">
    <div class="row spacing-bottom">
      <div class="col-md-6">
        <h2>Our Design Philosophy</h2>
        <p class="subtitle spacing-bottom">
          We believe that a good software is something more than just a beautiful design. Considering this, we study our user behavior and carefully build user interface that is not only pretty but also easy-to-use.
        </p>
      </div>
    </div>
  </div>
</div>
