<% content_for :page_title do 'Ruby on Rails and NodeJS Development and Outsourcing Services' end %>
<% content_for :page_meta do %>
  <meta content="We are looking for young talented individuals with creativity, passion and dedication. Whether you are a fresh-graduate or a professional, you can develop your potentials with us and achieve what you might otherwise have thought unachievable. If you think you got what it takes to join us, what are you waiting for? Send your resume to jobs@dexcode.com." name="description" />
<% end %>


<div class="hero">

  <div class="container vertical-center">
    <div class="row spacing-top">



      <h1 class="white">Career with Dexcode</h1>



    <p class="white">We are looking for young talented individuals with creativity, passion and dedication. Whether you are a fresh-graduate or a professional, you can develop your potentials with us and achieve what you might otherwise have thought unachievable. If you think you got what it takes to join us, what are you waiting for? Send your resume to <a class="email" href="mailto:jobs@dexcode.com">jobs@dexcode.com</a>.<br>
</p>
</div>
</div></div>




        <div class="section-light-gray">
          <div class="container">
            <div class="row double-spacing">
              <div class="col-md-6 pull-right text-center">
    <h2>Life at Dexcode</h2>

        <p class="subtitle">  Bored with the hectic and formal working environment at office? Or scared of imagining a work life at office after graduating from university? Join us where you can find a career without having to feel 'at work'. Dexcode is a place to share your passion for IT-related tasks in a fun and casual environment. Our small team makes it easy for you to blend in and learn from your mates. Our ultimate intention is to make a stress-free working environment, because people are our main assets.
          </p>
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12 pull-left text-center">
          <img src="<%= asset_path('people.jpg') %>" width="300">
        </div>
      </div>

        </div>
        </div>
        </div>

          <div class="section-three">
            <div class="container">
              <div class="row double-spacing">
                <div class="col-md-6 pull-left text-center">

            <h2>Facilities</h2>

            <p class="subtitle">We provide you with spacious workspace, complete with a laptop / computer to work on and a strong wifi connection covering the entire building. Coffee, tea, and other drinks are provided in our spacious pantry.
          </p>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 pull-right text-center">
            <img src="<%= asset_path('office4.jpg') %>" width="300">
          </div>

        </div>

        </div>
        </div>

        <div class="parallax-window" data-parallax="scroll" data-image-src="<%= asset_path('bg-parallax.jpg') %>"></div>




        <div class="section-four">
          <div class="container">
            <div class="row double-spacing">


              <div class="title text-center">
              Job Opportunities
              </div>

              <div class="line-orange spacing-bottom"></div>

<div class="col-md-6 col-xs-12 text-center">
        <h2>Web Designer</h2>




              <strong>Responsibilities:</strong><br>
              - Design logos and websites<br>
              - Able to co-assist our programmers to create a well-designed products<br>
              <br>



              <strong>Requirements:</strong><br>
              - Bachelor degree with max age of 28<br>
              - Creative with orientation to details<br>
              - Knowledge of HTML, CSS and Photoshop<br>
              - Communicative and able to work in team<br>
              - Strong passion to make great design concepts<br><br>



</div>
<div class="col-md-6 col-xs-12 text-center">
        <h2>Web Programmer</h2>


      <strong>Responsibilities:</strong><br>
              - Web development<br>
              - Performing product support and quality assurance tests and reviews<br>
              - Contribute to the development and execution of unit, system and integration testing<br>
              <br>

          <strong>Requirements:</strong><br>
              - Minimum of Bachelor degree in IT (maximum age of 28), fresh graduates are welcome<br>
              - Strong passion for programming<br>
              - Knowledge of MySQL, HTML, CSS, JavaScript, and PHP/Java/Ruby on Rails<br>
              - Communicative and able to work in team<br>
              - Knowledge of object oriented programming<br><br>

              <strong>Preferred but not Mandatory:</strong><br>
              - Have Github account<br>
              - Knowledge of Git<br>
              - Knowledge of Linux and Linux System Admin<br><br>
            </div>

        </div>
      </div>
      </div>
      </div>
      </div>
