<% content_for :page_title do 'Ruby on Rails and NodeJS Development and Outsourcing Services' end %>
<% content_for :page_meta do %>
  <meta content="Dexcode is a custom software development company offering project based / programmer outsourcing services. Over 20 Ruby on Rails projects completed." name="description" />
<% end %>

<div class="hero">
  <div class="container vertical-center">
    <div class="row spacing-top">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">

        <h1 class="white">
          Development and Outsourcing Services
        </h1>
        <p class="white">
          Over the last 5 years, we have helped startup as well as large company shipped quality maintainable product. We deliver great user experience along with well-structured and well-tested code.
        </p>
      </div>
    </div>

  </div>
</div>
<div class="section-light-gray">
  <div class="container">
    <div class="row double-spacing">
      <div class="col-md-12 ">
        <h1 class="text-center title">
          Technology We Use
        </h1>
      </div>
      <div class="col-md-12">
        <div class="line-orange"></div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="text-center">
            <%= image_tag 'frontend.png', :alt => "front-end", :width => 400, :class => "img-responsive center-image" %>

        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="box-frontend text-center">

          <h1>Front-End</h1>
          <p class="subtitle">
            Front-end programmers at Dexcode writes modular and well tested code using either ReactJS or AngularJS.
            We use Jasmine and CasperJS / PhantomJS to write unit test and integration test.
          </p>
        </div>

      </div>


      <div class="col-md-6 col-xs-12 pull-right">
        <div class="text-center">
          <%= image_tag 'backend.png', :alt => "back-end", :width => 400, :class => "img-responsive center-image" %>

        </div>
      </div>

      <div class="col-md-6 col-xs-12 pull-left">
        <div class="box-backend text-center">
          <h1>Back-End</h1>
          <p class='subtitle'>
            We use Ruby on Rails to build the backend quickly and reliably and uses Golang for real-time high
            performance system. For persistent storage, we use MySQL or PostgreSQL for transactional system. For
            non-relational databases, we use Redis or MongoDB to build highly availabile systems. We are experienced
            in managing infrastructures of AWS or Digital Ocean servers with Nginx and load balancer to scale the web
            services to accomodate the user traffic.
          </p>
        </div>
      </div>


      <div class="col-md-6 col-xs-12 pull-left">
        <div class="text-center">
          <%= image_tag 'integration.png', :alt => "integration", :width => 400, :class => "img-responsive center-image" %>

        </div>
      </div>

      <div class="col-md-6 col-xs-12 pull-right">
        <div class="box-integration text-center">
          <h1>Integration</h1>
          <p class='subtitle'>
            Our Ruby on Rails developers are experienced in integrating the web application to 3rd party services
            such as, phone and messaging system (Twilio), social networks (Facebook, Twitter, Google Plus), payment
            gateway (PayPal, Stripe), email marketing (SendGrid, Mailchimp), monitoring systems (Datadog, Newrelic),
            and business intelligence (Tableau).
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
<!--
<div class="section section-three">
  <div class="container">
    <div class="row double-spacing">

      <div class="col-md-3 col-xs-6 text-center">
        <div class=" time-box">
            The local time zone is: [GMT <span id="offset"></span>]
            <br>Based on your Time zone
        </div>
      </div>

      <div class="col-md-3 col-xs-6 text-center">
        <div class=" time-box">
          <div class="timezone">
            <span id="tz"></span>
            <br>Time zone
          </div>
        </div>
      </div>

      <div class="col-md-3 col-xs-6 text-center" >
        <div class="time-box">
          Your Local Time is:
          <br><span data-localtime-format=" HH:mm">2014-06-26T02:00:00Z</span> -
          <span data-localtime-format=" HH:mm">2014-06-26T11:00:00Z</span>
        </div>
      </div>

      <div class="col-md-3 col-xs-6 text-center">
        <div class=" time-box">
          Our Working Time: [GMT 7]
          <br>09.00 - 18.00
        </div>
      </div>
    </div>
  </div>
</div>
-->
