<% content_for :page_title do 'Flixus - Dexcode' end %>
<% content_for :page_meta do %>
<meta content="Dexcode is a custom software development company offering project based / programmer outsourcing services. Over 20 Ruby on Rails projects completed." name="description"/>
<% end %>

<div class="section-light-gray">
  <div class="container spacing-bottom">
    <div class="row spacing-top-extra spacing-bottom">

      <div class="col-md-12 ">
        <h1 class="text-center title">
          Overview
        </h1>
      </div>
      <div class="col-md-12">
        <div class="line-orange"></div>
      </div>
    </div>
    <div class="spacing-bottom">

      <div class="hero-flixus"></div>
      <h4 class="text-center">Flixus is a plot movie website.</h4>

      <div class="col-md-12 ">
        <h1 class="text-center title">
          Features
        </h1>
      </div>
      <div class="col-md-12">
        <div class="line-orange"></div>
      </div>


        <div class="col-md-6 col-xs-12">
          <div class="text-center">
            <%= image_tag 'cms-icon.png', :alt => "CMS", :width => 300,:class => "img-responsive center-image" %>

          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="box-left text-center">

            <h1>Content Management System</h1>
            <p class="subtitle">
              Our team built the content management system for the articles in Flixus which includes auto-save editor and the ability to attach and order images to the article.
          </div></div>

          <div class="col-md-6 col-xs-12 pull-right">
            <div class="text-center">
              <%= image_tag 'flixus-annotation.png', :alt => "Annotation", :width => 500, :class => "img-responsive center-image wide-image" %>

            </div>
          </div>

          <div class="col-md-6 col-xs-12 pull-left">
            <div class="box-right text-center">
              <h1>Annotation</h1>
              <p class='subtitle'>
                 We built annotation feature to explain more about a sentence in the plot.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-xs-12">
            <div class="text-center">
              <%= image_tag 'imdb.png', :alt => "API Integration", :width => 500, :class => "img-responsive center-image wide-image" %>

            </div>
          </div>

          <div class="col-md-6 col-xs-12">
            <div class="box-left text-center">

              <h1>API Integration</h1>
              <p class="subtitle">
                Since Flixus is a plot movie website, we integrate with IMDb for the video trailer and also with Rotten Tomatoes for Tomato rating (Tomatometer) and audience rating.</div>
            </div>
            <div class="col-md-6 col-xs-12 pull-right">
              <div class="text-center">
                <%= image_tag 'flixus-search.png', :alt => "Elasticsearch", :width => 500, :class => "img-responsive center-image wide-image" %>

              </div>
            </div>

            <div class="col-md-6 col-xs-12 pull-left">
              <div class="box-right text-center">
                <h1>Search Engine</h1>
                <p class='subtitle'>
                  We use Elasticsearch as a search engine in this website. It can provide search result until the specific word.
                </p>
              </div>
            </div>



          </div>
        </div>
      </div>
