<% content_for :page_title do 'Hilario - Dexcode' end %>
<% content_for :page_meta do %>
<meta content="Dexcode is a custom software development company offering project based / programmer outsourcing services. Over 20 Ruby on Rails projects completed." name="description"/>
<% end %>

<div class="section-light-gray">
  <div class="container spacing-bottom">
    <div class="row spacing-top-extra spacing-bottom">

      <div class="col-md-12 ">
        <h1 class="text-center title">
          Overview
        </h1>
      </div>
      <div class="col-md-12">
        <div class="line-orange"></div>
      </div>
    </div>
    <div class="spacing-bottom">

      <div class="hero-hilario"></div>

      <h4 class="text-center">Before 9gag.tv becomes popular, we’ve built Hilario for sharing funny videos to friends and families.</h4>

      <div class="col-md-12 ">
        <h1 class="text-center title">
          Features
        </h1>
      </div>
      <div class="col-md-12">
        <div class="line-orange"></div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="text-center">
          <%= image_tag 'hilario.png', :alt => "Home Feed Personalization", :width => 500,:class => "img-responsive center-image wide-image" %>

        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="box-left text-center">

          <h1>Home Feed Personalization</h1>
          <p class="subtitle">
            We implemented complex algorithms to generate comedy feeds personalized for each user. The feed is based on what comedy categories the users like and the users followed.</div>

        </div>

        <div class="col-md-6 col-xs-12 pull-right">
          <div class="text-center">
            <%= image_tag 'hilario1.png', :alt => "Social Network", :width => 500, :class => "img-responsive center-image wide-image" %>

          </div>
        </div>

        <div class="col-md-6 col-xs-12 pull-left">
          <div class="box-right text-center">
            <h1>Social Network</h1>
            <p class='subtitle'>
              Sharing is the most important feature in Hilario. As such, we built Twitter like social networking feature that integrates with the home feed.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="text-center">
            <%= image_tag 'google-plus-integration.jpg', :alt => "API Integration", :width => 500, :class => "img-responsive center-image wide-image" %>

          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="box-left text-center">

            <h1>API Integration</h1>
            <p class="subtitle">

              Since Hilario is a social network, we integrate with Facebook and Google Plus for users login. Also, it integrates with Twitter, Facebook, and Pinterest to easily share comedy video or images to those platforms.
            </div>
          </div>

          <div class="col-md-6 col-xs-12 pull-right">
            <div class="text-center">
              <%= image_tag 'hilario2.png', :alt => "Data Mining", :width => 500, :class => "img-responsive center-image wide-image" %>

            </div>
          </div>

          <div class="col-md-6 col-xs-12 pull-left">
            <div class="box-right text-center">
              <h1>Pin Web Page and Data Mining</h1>
              <p class='subtitle'>
                Users can pin web pages similar to Pinterest and share it on Hilario easily. Data mining and HTML extraction was performed to fetch the metadata of the video or images from user-shared web pages.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
