<% content_for :page_title do 'Savsale - Dexcode' end %>
<% content_for :page_meta do %>
<meta content="Dexcode is a custom software development company offering project based / programmer outsourcing services. Over 20 Ruby on Rails projects completed." name="description"/>
<% end %>

<div class="section-light-gray">
  <div class="container spacing-bottom">
    <div class="row spacing-top-extra spacing-bottom">

      <div class="col-md-12 ">
        <h1 class="text-center title">
          Overview
        </h1>
      </div>
      <div class="col-md-12">
        <div class="line-orange"></div>
      </div>
    </div>
    <div class="spacing-bottom">
      <div class="hero-savsale"></div>
      <h4 class="text-center">SavSale is a one stop site to find a discounted branded apparel.</h4>
      <div class="col-md-12 ">
        <h1 class="text-center title">
          Features
        </h1>
      </div>
      <div class="col-md-12">
        <div class="line-orange"></div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="text-center">
          <%= image_tag 'client-savsale.png', :alt => "Site Crawler", :width => 400, :class => "img-responsive center-image wide-image" %>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="box-left text-center">

          <h1>Site Crawling</h1>
          <p class="subtitle">
            SavSale crawled dozens of apparel sites and is now a one stop place to find a discounted apparel.</div>
        </div>

        <div class="col-md-6 col-xs-12 pull-right">
          <div class="text-center">
            <%= image_tag 'redis.png', :alt => "Redis Crawler", :width => 500, :class => "img-responsive center-image wide-image" %>

          </div>
        </div>

        <div class="col-md-6 col-xs-12 pull-left">
          <div class="box-right text-center">
            <h1>Tehnologies</h1>
            <p class='subtitle'>
              We build the crawler for SavSale using more advanced technology like Redis and Sidekiq. It improves the reliability and performance of the crawler.
            </div>
          </div>

        </div>
      </div>
    </div>
