<% content_for :page_title do 'Stringwire - Dexcode' end %>
<% content_for :page_meta do %>
<meta content="Dexcode is a custom software development company offering project based / programmer outsourcing services. Over 20 Ruby on Rails projects completed." name="description"/>
<% end %>

<div class="section-light-gray">
  <div class="container spacing-bottom">
    <div class="row spacing-top-extra spacing-bottom">

      <div class="col-md-12 ">
        <h1 class="text-center title">
          Overview
        </h1>
      </div>
      <div class="col-md-12">
        <div class="line-orange"></div>
      </div>
    </div>
    <div class="spacing-bottom">

      <div class="hero-stringwire"></div>
      <h4 class="text-center">Stringwire is a video streaming service focused on citizen journalism.</h4>

      <div class="col-md-12 ">
        <h1 class="text-center title">
          Features
        </h1>
      </div>
      <div class="col-md-12">
        <div class="line-orange"></div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="text-center">
          <%= image_tag 'stringwire-video.png', :alt => "Live Video Streaming", :width => 500, :class => "img-responsive center-image wide-image" %>

        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="box-left text-center">

          <h1>Live Video Streaming</h1>
          <p class="subtitle">
            Stringwire enables everyone with a mobile devices to be a journalist and to report interesting events happening around the world. We integrate the system with Wowza video streaming system to build live video streaming solution.
          </div>
        </div>

        <div class="col-md-6 col-xs-12 pull-right">
          <div class="text-center">
            <%= image_tag 'ruby-on-rails-logo.png', :alt => "Mobile Application", :width => 250, :class => "img-responsive center-image wide-image" %>

          </div>
        </div>

        <div class="col-md-6 col-xs-12 pull-left">
          <div class="box-right text-center">
            <h1>Mobile App Integration</h1>
            <p class='subtitle'>
              To integrate the system with mobile devices, we built mobile API with Ruby on Rails and MySQL which also integrates with Wowza video engine.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="text-center">
            <%= image_tag 'stringwire-maps.png', :alt => "Geolocation", :width => 500, :class => "img-responsive center-image wide-image" %>

          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="box-left text-center">

            <h1>Geolocation and Google Maps</h1>
            <p class="subtitle">

              People can view events happening near them or find events happening any place in the world with an easy-to-use user interface.</div>
          </div>

        </div>
      </div>
    </div>
