<div class="container">
  <h1>Career with Dexcode</h1>

  <div style="width:100%; height:5px;"></div>
  <div>
    We are looking for young talented individuals with creativity, passion and dedication. Whether you are a fresh-graduate or a professional, you can develop your potentials with us and achieve what you might otherwise have thought unachievable. If you think you got what it takes to join us, what are you waiting for? Send your resume to <a href="mailto:jobs@dexcode.com">jobs@dexcode.com</a>.<br>

    <div class="">
      <div class="list">
        <div class="left mouse"></div>
        <div class="right"><h4>Life at Dexcode</h4></div>
        <div class="clear"></div>
        <div class="tx">Bored with the hectic and formal working environment at office? Or scared of imagining a work life at office after graduating from university? Join us where you can find a career without having to feel 'at work'. Dexcode is a place to share your passion for IT-related tasks in a fun and casual environment. Our small team makes it easy for you to blend in and learn from your mates. Our ultimate intention is to make a stress-free working environment, because people are our main assets.</div>
      </div>
      <div class="list last">
        <div class="left love"></div>
        <div class="right"><h4>Facilities</h4></div>
        <div class="clear"></div>
        <div class="tx">We provide you with spacious workspace, complete with a laptop / computer to work on and a strong wifi connection covering the entire building. Coffee, tea, and other drinks are provided in our spacious pantry. </div>
      </div>
      <div class="clear"></div>
    </div>

    <h2>Web Designer</h2>

    <div style="width:100%; height:5px;"></div>
    <div class="wrapper">
        <div class="benefit">
          <div class="list">
          </div><strong>Responsibilities:</strong><br>
          - Design logos and websites<br>
          - Able to co-assist our programmers to create a well-designed products<br>
          <br>

          <div class="list last">
          </div>

          <strong>Requirements:</strong><br>
          - Bachelor degree with max age of 28<br>
          - Creative with orientation to details<br>
          - Knowledge of HTML, CSS and Photoshop<br>
          - Communicative and able to work in team<br>
          - Strong passion to make great design concepts<br><br>
        </div>
    </div>


    <h2>Web Programmer</h2>

    <div style="width:100%; height:5px;"></div>
    <div class="wrapper">
        <div class="benefit">
          <div class="list">
          </div><strong>Responsibilities:</strong><br>
          - Web development<br>
          - Performing product support and quality assurance tests and reviews<br>
          - Contribute to the development and execution of unit, system and integration testing<br>
          <br>

          <div class="list last">
          </div><strong>Requirements:</strong><br>
          - Minimum of Bachelor degree in IT (maximum age of 28), fresh graduates are welcome<br>
          - Strong passion for programming<br>
          - Knowledge of MySQL, HTML, CSS, JavaScript, and PHP/Java/Ruby on Rails<br>
          - Communicative and able to work in team<br>
          - Knowledge of object oriented programming<br><br>

          <div class="list">
          </div><strong>Preferred but not Mandatory:</strong><br>
          - Have Github account<br>
          - Knowledge of Git<br>
          - Knowledge of Linux and Linux System Admin<br><br>
        </div>
        <div class="clear"></div>
    </div>
  </div>
</div>