<h1>Web Designer</h1>

<div style="width:100%; height:5px;"></div>
<div class="wrapper">
  <div class="pull-left">
    <div class="benefit">
      <div class="list">
        </div><strong>Responsibilities:</strong><br>
        - Design logos and websites<br>
        - Able to co-assist our programmers to create a well-designed products<br>
        <br>

        <div class="list last">
        </div>

        <strong>Requirements:</strong><br>
        - Bachelor degree with max age of 28<br>
        - Creative with orientation to details<br>
        - Knowledge of HTML, CSS and Photoshop<br>
        - Communicative and able to work in team<br>
        - Strong passion to make great design concepts<br><br>
      </div>
    <div class="clear"></div>
  </div>
</div>


<div class="career-right">
  <h4>Available Positions</h4>
  <div><a href="/career/web-designer">Web Designer</a></div>
  <div><a href="/career/web-programmer">Web Programmer</a></div>
</div>
