<h1>Web Programmer</h1>

<div style="width:100%; height:5px;"></div>
<div class="wrapper">
  <div class="pull-left">
    <div class="benefit">
      <div class="list">
      </div><strong>Responsibilities:</strong><br>
      - Web development<br>
      - Performing product support and quality assurance tests and reviews<br>
      - Contribute to the development and execution of unit, system and integration testing<br>
      <br>

      <div class="list last">
      </div><strong>Requirements:</strong><br>
      - Minimum of Bachelor degree in IT (maximum age of 28), fresh graduates are welcome<br>
      - Strong passion for programming<br>
      - Knowledge of MySQL, HTML, CSS, JavaScript, and PHP/Java/Ruby on Rails<br>
      - Communicative and able to work in team<br>
      - Knowledge of object oriented programming<br><br>

      <div class="list">
      </div><strong>Preferred but not Mandatory:</strong><br>
      - Have Github account<br>
      - Knowledge of Git<br>
      - Knowledge of Linux and Linux System Admin<br><br>
    </div>
    <div class="clear"></div>
  </div>
</div>


<div class="career-right">
  <h4>Available Positions</h4>
  <div><a href="/career/web-designer">Web Designer</a></div>
  <div><a href="/career/web-programmer">Web Programmer</a></div>
</div>
